<div class="announcement-bar">
  <div class="container">
    <p class="announce-text w-full text-black text-center">
      {{section.settings.message}}
    </p>

  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Announcement text",
      "default": "25% OFF US based delivery!"
    }
  ]
}
{% endschema %}