<div class="hero-banner">
  <h1>Hello Shopify Homepage</h1>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}